---
import Layout from '@/layouts/Layout.astro';

import Hero from '@/sections/Hero.astro';
import Info from '@/sections/Info.astro';
import Count from '@/sections/Count.astro';
import Bento from '@/sections/Bento.astro';
import Footer from '@/sections/Footer.astro';

---

<Layout>
	<Hero />
	<main>
		<Info />
		<Count />
		<Bento />
	</main>
	<Footer />
</Layout>
