
<footer class="mt-4 w-full border-secundary border-t-2 flex flex-row pt-10 pb-20 items-center justify-center">
    <span class="text-secondary text-center">
        &#169; 2025 XMas Mariae.<br aria-hidden class="block md:hidden">Todos los derechos reservados.
    </span>
</footer>