<section class="flex flex-col justify-center items-center">
    <span class="text-sm md:text-xl uppercase text-primary bg-secondary px-4 py-1 mb-9 font-medium">
        Latidos que llevan tu nombre
    </span>
    <div class="max-w-6xl overflow-hidden rounded-2xl">
        <img src="./hero.webp" alt="foto pareja" class="w-full object-cover">
    </div>
</section>