<section class="flex flex-col font-medium text-primary gap-y-10 my-20">
    <div class="flex flex-col justify-center items-center gap-3 p-5 bg-third rounded-lg">
        <h2  class="text-2xl font-semibold">¿Cómo te conocí?</h2>
        <div class="max-h-[60vh] overflow-y-auto md:max-h-none md:overflow-visible text-lg sm:text-xl">
            <p  class="max-w-prose mx-auto text-pretty leading-relaxed">
                Se que la primera vez que te vi fue gracias a un trabajo en equipo y que gracias a que Ximena me haya dicho que me uniera a su equipo fue cuando tuvimos nuestro primer acercamiento. Cada vez que recuerdo ese día, apareces con un aura y una linda sonrisa, la cual se sigue viendo hermosa.
            </p>
            <p class="max-w-prose mx-auto text-pretty leading-relaxed">
                Con el tiempo nos empezamos a acercar cada vez más al punto de volvernos mejores amigos. No sé si ya te lo había dicho, pero cuando me lo pediste, me puse muy feliz porque eras tú quien me lo pedía. Me sentía muy emocionado y sé que haber dicho que sí fue la mejor decisión. El ser tú 'pareja' y tener un bebé falso fue divertido. Me gustó poder haberlo hecho contigo, nunca había disfrutado tanto hacer un trabajo en equipo. 
            </p>
            <p class="max-w-prose mx-auto text-pretty leading-relaxed">
                Ese día, cuando nos empezaron a gritar '¡Beso, beso, beso!', fue muy incómodo. Nunca me ha gustado la presión social y eso desencadenó que me alejara por la incomodidad que sentía. Y justo ese día teníamos un examen de matemáticas. Recuerdo que te fuiste muy rápido, sentí que estabas molesta y quería arreglarlo todo, pero ya te habías ido. No sabía si podríamos volver a hablar como antes por culpa de ese incidente, y por fortuna, sí pudimos. No te voy a mentir, el primer semestre fue fantástico solo porque te conocí, y terminando el semestre ya sentía algo por ti, pero no sabía si era amor u otra cosa, pero no le tomé importancia. En segundo fue cuando me cuestioné y entendí que era amor lo que sentía por ti.
            </p>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 text-center gap-x-6 gap-y-10 text-lg">

        <article class="py-14 px-4 rounded-lg bg-third text-primary">
            <h3 class="text-xl font-semibold">¿Cómo me enamoré?</h3>
            <p>
                Recuerdo el momento en que comencé a darme cuenta de que mis sentimientos por ti eran más que amistad. El miedo a perderte me hizo entender lo importante que eras para mí. Cuando te confesé lo que sentía y me diste una respuesta que fue más un sí que un no, todo cambió. Desde ese 6 de marzo de 2020, iniciamos una historia que guardo con mucho cariño.
            </p>
        </article>
        <article class="text-4xl py-14 px-4 rounded-lg bg-third text-purple-300 md:text-primary flex justify-center items-center">
            <h2 class="hover:text-purple-300 transition hover:scale-110 inline-block">“Amarte es la forma más bonita que encontré de sentirme en casa.”</h2>
        </article>
        <article class="py-14 px-4 rounded-lg bg-third text-primary">
            <h3 class="text-xl font-semibold">¿Por qué tú?</h3>
            <p>
                Eres una persona que, cuando se propone algo, siempre busca o encuentra la manera de lograrlo. No te rindes tan fácilmente y eso es algo que me gusta de ti. Eres muy inteligente, hablas dos idiomas y vas por el tercero, algo que me pone muy feliz por alguna razón. Todo lo que he pasado a tu lado ha sido tan hermoso y estoy dispuesto a cualquier cosa con tal de poder seguir a tu lado.
            </p>
        </article>
    </div>
</section>
